<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
    {{> header}}
    	<div class="sidebar">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
				<a href="/admin" class="sidebar-nav-link " style="text-decoration: none;">
					<div>
						<i class="fas fa-tachometer-alt"></i>
					</div>
						<span>My product</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="/admin/add-new-product" class="sidebar-nav-link " style="text-decoration: none;">
					<div>
						<i class="fab fa-accusoft"></i>
					</div>
					<span>Add new products</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/admin/products-deleted" class="sidebar-nav-link active" style="text-decoration: none;">
					<div>
						<i class="fas fa-check-circle"></i>
					</div>
					<span>Product-deleted</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-bug"></i>
					</div>
					<span>Login</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-chart-line"></i>
					</div>
					<span>My shop</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-book-open"></i>
					</div>
					<span>Pellentesque</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link">
					<div>
						<i class="fas fa-adjust"></i>
					</div>
					<span>Morbi</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fab fa-algolia"></i>
					</div>
					<span>Praesent</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-audio-description"></i>
					</div>
					<span>Pellentesque</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<!-- main content -->
	<div class="wrapper">
		
		<div class="row">
			<div class="col-8 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							My products
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<table>
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Name product</th>
										<th scope="col" colspan="0">Price</th>
										<th scope="col" colspan="0" class="time">Brand</th>
										<th scope="col" colspan="0" class="fc">Fuction</th>

									</tr>
								</thead>
							<tbody>
								{{#each productDelete}}
											<tr>
												<th scope="row">{{sum @index 1}}</th>
												<td>{{this.name}}</td>
												<td>{{this.price}}$</td>
												<td>{{this.brand}}</td>
												<td>
													<a href="" class="btn btn-link btnRestore" data-id="{{this._id}}">Restore</a>
													<a  href="" class="btn btn-link" data-toggle="modal" data-target="#deleteForever" data-id="{{this._id}}">Delete</a>
												</td>
											</tr>

										{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		
		</div>


{{!--Confirm delete COurse--}}
<div class="modal" id="deleteForever"  tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Data will not be recoverable</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

 <form name="restore-form" method="POST"></form>
 <form name="delete-forever-form" method="POST"></form>

 <script>

    document.addEventListener('DOMContentLoaded', function() {
        var deleteForeverForm = document.forms['delete-forever-form'];
        var productID;
        var btnDeleteProduct = document.getElementById('btn-delete-product');
            $('#deleteForever').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) ;
            productID = button.data('id');
    })

         btnDeleteProduct.onclick = function() {
        deleteForeverForm.action = '/products/' + productID  + '/force?_method=DELETE' 
        deleteForeverForm.submit();
        }


        var restoreForm = document.forms['restore-form'];
        var Restorebtn = $('.btnRestore');
          Restorebtn.click(function(e) {
              e.preventDefault();
              var productID = $(this).data('id');
               restoreForm.action = '/products/' + productID  + '/restore?_method=PATCH';
              restoreForm.submit();
            
      });
});

</script>


        <script>
            const primaryColor = '#4834d4'
const warningColor = '#f0932b'
const successColor = '#6ab04c'
const dangerColor = '#eb4d4b'

const themeCookieName = 'theme'
const themeDark = 'dark'
const themeLight = 'light'

const body = document.getElementsByTagName('body')[0]



function getCookie(cname) {
  var name = cname + "="
  var ca = document.cookie.split(';')
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1)
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length)
    }
  }
  return ""
}

loadTheme()

function loadTheme() {
	var theme = getCookie(themeCookieName)
	body.classList.add(theme === "" ? themeLight : theme)
}


        </script>



		  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   			 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>